h1 {
  color: greenyellow;
  font-style: strong;
  text-align: center;
  outline: auto;
}

body {
  background-color: bisque
}

li{
}

.flashy {
  color: red;
  font-style: italic;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-item {
  width: 50%;
}

.ingredients-list {
  list-style: none;
}